In [1]:
import pandas as pd
import datetime as dt

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [3]:
df_ = pd.read_csv('flo_data_20k.csv')
df = df_.copy()

In [4]:
df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                          4.0                           1.0                             139.99                            799.38                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                         19.0                           2.0                             159.97                           1853.58  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                          3.0                           2.0                             189.97                            395.35                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                          1.0                           1.0                              39.99                             81.98               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                          1.0                           1.0                              49.99                            159.99                       [AKTIFSPOR]

In [5]:
def check_df(dataframe, head=5):
    print('##################### Shape #####################')
    print(dataframe.shape)
    print('##################### Types #####################')
    print(dataframe.dtypes)
    print('##################### Head #####################')
    print(dataframe.head(head))
    print('##################### Tail #####################')
    print(dataframe.tail(head))
    print('##################### NA #####################')
    print(dataframe.isnull().sum())
    print('##################### Quantiles #####################')
    print(dataframe.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

In [6]:
check_df(df)

##################### Shape #####################
(19945, 12)
##################### Types #####################
master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
dtype: object
##################### Head #####################
                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                          4.0                           1.0                             139.99                            799.38                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                         19.0                           2.0                             159.97                           1853.58  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                          3.0                           2.0                             189.97                            395.35                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                          1.0                           1.0                              39.99                             81.98               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                          1.0                           1.0                              49.99                            159.99                       [AKTIFSPOR]
##################### Tail #####################
                                  master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online interested_in_categories_12
19940  727e2b6e-ddd4-11e9-a848-000d3a38a36f   Android App            Offline       2019-09-21      2020-07-05             2020-06-05              2020-07-05                          1.0                           2.0                             289.98                            111.98          [ERKEK, AKTIFSPOR]
19941  25cd53d4-61bf-11ea-8dd8-000d3a38a36f       Desktop            Desktop       2020-03-01      2020-12-22             2020-12-22              2020-03-01                          1.0                           1.0                             150.48                            239.99                 [AKTIFSPOR]
19942  8aea4c2a-d6fc-11e9-93bc-000d3a38a36f       Ios App            Ios App       2019-09-11      2021-05-24             2021-05-24              2019-09-11                          2.0                           1.0                             139.98                            492.96                 [AKTIFSPOR]
19943  e50bb46c-ff30-11e9-a5e8-000d3a38a36f   Android App        Android App       2019-03-27      2021-02-13             2021-02-13              2021-01-08                          1.0                           5.0                             711.79                            297.98          [ERKEK, AKTIFSPOR]
19944  740998d2-b1f7-11e9-89fa-000d3a38a36f   Android App        Android App       2019-09-03      2020-06-06             2020-06-06              2019-09-03                          1.0                           1.0                              39.99                            221.98          [KADIN, AKTIFSPOR]
##################### NA #####################
master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64
##################### Quantiles #####################
                                     count        mean         std    min     0%     5%     50%       95%        99%      100%       max
order_num_total_ever_online        19945.0    3.110855    4.225647   1.00   1.00   1.00    2.00    10.000    20.0000    200.00    200.00
order_num_total_ever_offline       19945.0    1.913913    2.062880   1.00   1.00   1.00    1.00     4.000     7.0000    109.00    109.00
customer_value_total_ever_offline  19945.0  253.922597  301.532853  10.00  10.00  39.99  179.98   694.222  1219.9468  18119.14  18119.14
customer_value_total_ever_online   19945.0  497.321690  832.601886  12.99  12.99  63.99  286.46  1556.726  3143.8104  45220.13  45220.13

In [7]:
df['order_num_total'] = df['order_num_total_ever_online'] + df['order_num_total_ever_offline']
df['customer_value_total'] = df['customer_value_total_ever_online'] + df['customer_value_total_ever_offline']

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  order_num_total                    19945 non-null  float64
 13  customer_value_total               19945 non-null  float64
dtypes: float64(6), object(8)
memory usage: 2.1+ MB

In [9]:
df['first_order_date'] = pd.to_datetime(df['first_order_date'])
df['last_order_date'] = pd.to_datetime(df['last_order_date'])
df['last_order_date_online'] = pd.to_datetime(df['last_order_date_online'])
df['last_order_date_offline'] = pd.to_datetime(df['last_order_date_offline'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  order_num_total                    19945 non-null  float64
 13  customer_value_total               19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

In [11]:
agg_list = ['sum', 'count', 'mean']

In [12]:
df.groupby('order_channel').agg({'order_num_total': agg_list})

              order_num_total
                          sum count      mean
order_channel
Android App           52269.0  9495  5.504897
Desktop               10920.0  2735  3.992687
Ios App               15351.0  2833  5.418637
Mobile                21679.0  4882  4.440598

In [13]:
df.groupby('order_channel').agg({'customer_value_total': agg_list})

              customer_value_total
                               sum count        mean
order_channel
Android App             7819062.76  9495  823.492655
Desktop                 1610321.46  2735  588.782984
Ios App                 2525999.93  2833  891.634285
Mobile                  3028183.16  4882  620.275125

In [14]:
df.groupby('master_id').agg({'customer_value_total': 'sum'}).sort_values(by='customer_value_total',
                                                                         ascending=False).head(10)

                                      customer_value_total
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f              45905.10
d5ef8058-a5c6-11e9-a2fc-000d3a38a36f              36818.29
73fd19aa-9e37-11e9-9897-000d3a38a36f              33918.10
7137a5c0-7aad-11ea-8f20-000d3a38a36f              31227.41
47a642fe-975b-11eb-8c2a-000d3a38a36f              20706.34
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f              18443.57
d696c654-2633-11ea-8e1c-000d3a38a36f              16918.57
fef57ffa-aae6-11e9-a2fc-000d3a38a36f              12726.10
cba59206-9dd1-11e9-9897-000d3a38a36f              12282.24
fc0ce7a4-9d87-11e9-9897-000d3a38a36f              12103.15

In [15]:
df.groupby('master_id').agg({'order_num_total': 'sum'}).sort_values(by='order_num_total',
                                                                    ascending=False).head(10)

                                      order_num_total
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f            202.0
cba59206-9dd1-11e9-9897-000d3a38a36f            131.0
a57f4302-b1a8-11e9-89fa-000d3a38a36f            111.0
fdbe8304-a7ab-11e9-a2fc-000d3a38a36f             88.0
329968c6-a0e2-11e9-a2fc-000d3a38a36f             83.0
73fd19aa-9e37-11e9-9897-000d3a38a36f             82.0
44d032ee-a0d4-11e9-a2fc-000d3a38a36f             77.0
b27e241a-a901-11e9-a2fc-000d3a38a36f             75.0
d696c654-2633-11ea-8e1c-000d3a38a36f             70.0
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f             70.0

In [16]:
df['last_order_date'].max()

Timestamp('2021-05-30 00:00:00')

In [17]:
today_date = dt.datetime(2021, 6, 1)

In [18]:
rfm = df.groupby('master_id').agg({'last_order_date': lambda x: (today_date - x.max()).days,
                                   'order_num_total': lambda x: x,
                                   'customer_value_total': lambda x: x})

In [19]:
rfm.columns = ['recency', 'frequency', 'monetary']

In [20]:
rfm

                                      recency  frequency  monetary
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f       10        5.0    776.07
00034aaa-a838-11e9-a2fc-000d3a38a36f      298        3.0    269.47
000be838-85df-11ea-a90b-000d3a38a36f      213        4.0    722.69
000c1fe2-a8b7-11ea-8479-000d3a38a36f       27        7.0    874.16
000f5e3e-9dde-11ea-80cd-000d3a38a36f       20        7.0   1620.33
...                                       ...        ...       ...
fff1db94-afd9-11ea-b736-000d3a38a36f      183        5.0    796.87
fff4736a-60a4-11ea-8dd8-000d3a38a36f       67        2.0    318.87
fffacd34-ae14-11e9-a2fc-000d3a38a36f      257        6.0    983.92
fffacecc-ddc3-11e9-a848-000d3a38a36f      132        9.0   1362.20
fffe4b30-18e0-11ea-9213-000d3a38a36f      321        4.0    524.69

[19945 rows x 3 columns]

In [21]:
# Calculating RF Score

In [22]:
rfm['recency_score'] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])

In [23]:
rfm['frequency_score'] = pd.qcut(rfm['frequency'].rank(method='first'), 5, labels=[1, 2, 3, 4, 5])

In [24]:
rfm['RF_score'] = (rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str))

In [25]:
rfm

                                      recency  frequency  monetary recency_score frequency_score RF_score
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f       10        5.0    776.07             5               4       54
00034aaa-a838-11e9-a2fc-000d3a38a36f      298        3.0    269.47             1               2       12
000be838-85df-11ea-a90b-000d3a38a36f      213        4.0    722.69             2               3       23
000c1fe2-a8b7-11ea-8479-000d3a38a36f       27        7.0    874.16             5               4       54
000f5e3e-9dde-11ea-80cd-000d3a38a36f       20        7.0   1620.33             5               4       54
...                                       ...        ...       ...           ...             ...      ...
fff1db94-afd9-11ea-b736-000d3a38a36f      183        5.0    796.87             2               4       24
fff4736a-60a4-11ea-8dd8-000d3a38a36f       67        2.0    318.87             4               2       42
fffacd34-ae14-11e9-a2fc-000d3a38a36f      257        6.0    983.92             1               4       14
fffacecc-ddc3-11e9-a848-000d3a38a36f      132        9.0   1362.20             3               5       35
fffe4b30-18e0-11ea-9213-000d3a38a36f      321        4.0    524.69             1               4       14

[19945 rows x 6 columns]

In [26]:
# Segmentation

In [27]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [28]:
rfm['segment'] = rfm['RF_score'].replace(seg_map, regex=True)

In [29]:
rfm[['segment', 'recency', 'frequency', 'monetary']].groupby('segment').agg('mean')

                        recency  frequency     monetary
segment
about_to_sleep       114.031649   2.406573   361.649373
at_Risk              242.328997   4.470178   648.325038
cant_loose           235.159129  10.716918  1481.652446
champions             17.142187   8.965104  1410.708938
hibernating          247.426303   2.391474   362.583299
loyal_customers       82.557926   8.356444  1216.257224
need_attention       113.037221   3.739454   553.436638
new_customers         17.976226   2.000000   344.049495
potential_loyalists   36.869744   3.310769   533.741344
promising             58.694611   2.000000   334.153338

In [30]:
# TASK 1

In [31]:
rfm_with_interests = rfm.merge(df[['master_id', 'interested_in_categories_12']], on='master_id', how='left')

In [32]:
filtered_df = rfm_with_interests[((rfm_with_interests['segment'] == 'champions') |
                                 (rfm_with_interests['segment'] == 'loyal_customers')) &
                                 (rfm_with_interests['interested_in_categories_12'].str.contains('KADIN', na=False))]

In [33]:
filtered_df

                                  master_id  recency  frequency  monetary recency_score frequency_score RF_score          segment                   interested_in_categories_12
3      000c1fe2-a8b7-11ea-8479-000d3a38a36f       27        7.0    874.16             5               4       54        champions  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]
18     003903e0-abce-11e9-a2fc-000d3a38a36f       68        5.0    577.47             4               4       44  loyal_customers                                       [KADIN]
22     004bec18-9f7a-11e9-a2fc-000d3a38a36f       99       12.0    684.91             3               5       35  loyal_customers                     [ERKEK, KADIN, AKTIFSPOR]
25     00534fe4-a6b4-11e9-a2fc-000d3a38a36f       63       16.0    800.59             4               5       45  loyal_customers                     [ERKEK, KADIN, AKTIFSPOR]
49     009293fe-1f3e-11ea-87bf-000d3a38a36f      129        6.0    725.18             3               4       34  loyal_customers                     [COCUK, KADIN, AKTIFSPOR]
...                                     ...      ...        ...       ...           ...             ...      ...              ...                                           ...
19931  ffd73136-b098-11e9-9757-000d3a38a36f      100       16.0   2511.48             3               5       35  loyal_customers  [AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]
19932  ffdd5eb8-aee9-11e9-a2fc-000d3a38a36f       15        7.0   1423.36             5               5       55        champions                                [COCUK, KADIN]
19936  ffe5c7e8-ee12-11e9-9346-000d3a38a36f       75        4.0    749.84             4               4       44  loyal_customers                                [ERKEK, KADIN]
19939  ffefdd18-77ca-11ea-9b70-000d3a38a36f       74        4.0    208.46             4               4       44  loyal_customers                                [COCUK, KADIN]
19943  fffacecc-ddc3-11e9-a848-000d3a38a36f      132        9.0   1362.20             3               5       35  loyal_customers                     [COCUK, KADIN, AKTIFSPOR]

[2487 rows x 9 columns]

In [34]:
filtered_df = filtered_df['master_id']
filtered_df

3        000c1fe2-a8b7-11ea-8479-000d3a38a36f
18       003903e0-abce-11e9-a2fc-000d3a38a36f
22       004bec18-9f7a-11e9-a2fc-000d3a38a36f
25       00534fe4-a6b4-11e9-a2fc-000d3a38a36f
49       009293fe-1f3e-11ea-87bf-000d3a38a36f
                         ...
19931    ffd73136-b098-11e9-9757-000d3a38a36f
19932    ffdd5eb8-aee9-11e9-a2fc-000d3a38a36f
19936    ffe5c7e8-ee12-11e9-9346-000d3a38a36f
19939    ffefdd18-77ca-11ea-9b70-000d3a38a36f
19943    fffacecc-ddc3-11e9-a848-000d3a38a36f
Name: master_id, Length: 2487, dtype: object

In [35]:
filtered_df = filtered_df.reset_index(drop=True)
filtered_df

0       000c1fe2-a8b7-11ea-8479-000d3a38a36f
1       003903e0-abce-11e9-a2fc-000d3a38a36f
2       004bec18-9f7a-11e9-a2fc-000d3a38a36f
3       00534fe4-a6b4-11e9-a2fc-000d3a38a36f
4       009293fe-1f3e-11ea-87bf-000d3a38a36f
                        ...
2482    ffd73136-b098-11e9-9757-000d3a38a36f
2483    ffdd5eb8-aee9-11e9-a2fc-000d3a38a36f
2484    ffe5c7e8-ee12-11e9-9346-000d3a38a36f
2485    ffefdd18-77ca-11ea-9b70-000d3a38a36f
2486    fffacecc-ddc3-11e9-a848-000d3a38a36f
Name: master_id, Length: 2487, dtype: object

In [36]:
filtered_df.to_csv('contact_list.csv')

In [37]:
# TASK 2

In [38]:
filtered_df2 = rfm_with_interests[((rfm_with_interests['segment'] == 'cant_loose') |
                                  (rfm_with_interests['segment'] == 'hibernating') |
                                  (rfm_with_interests['segment'] == 'new_customers')) &
                                  ((rfm_with_interests['interested_in_categories_12'].str.contains('ERKEK', na=False)) &
                                  (rfm_with_interests['interested_in_categories_12'].str.contains('COCUK', na=False)))]

In [39]:
filtered_df2

                                  master_id  recency  frequency  monetary recency_score frequency_score RF_score      segment            interested_in_categories_12
151    01abd05c-b1f7-11e9-89fa-000d3a38a36f      184        3.0    453.94             2               2       22  hibernating         [AKTIFCOCUK, ERKEK, AKTIFSPOR]
232    02af4fd8-7362-11ea-92d0-000d3a38a36f      199        3.0    460.44             2               2       22  hibernating             [AKTIFCOCUK, ERKEK, COCUK]
251    02d8ab7a-2c50-11ea-b752-000d3a38a36f      184        2.0    401.69             2               1       21  hibernating             [AKTIFCOCUK, ERKEK, KADIN]
514    06090ece-afd8-11e9-9757-000d3a38a36f      233        3.0    373.46             1               2       12  hibernating             [AKTIFCOCUK, ERKEK, COCUK]
619    07aaa352-a90f-11e9-a2fc-000d3a38a36f      310        3.0    299.96             1               2       12  hibernating                         [ERKEK, COCUK]
...                                     ...      ...        ...       ...           ...             ...      ...          ...                                    ...
19365  f88cf3ea-47f4-11ea-b6c0-000d3a38a36f      152        7.0   1748.12             2               5       25   cant_loose  [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]
19381  f8b04ba4-5bce-11ea-ba31-000d3a38a36f      196        7.0   1426.22             2               5       25   cant_loose             [AKTIFCOCUK, ERKEK, KADIN]
19410  f91f4b9e-dd5b-11ea-9c1f-000d3a38a36f      292        9.0   1105.63             1               5       15   cant_loose                  [ERKEK, COCUK, KADIN]
19444  f98175f8-a85a-11e9-a2fc-000d3a38a36f      146       18.0   3128.08             2               5       25   cant_loose             [AKTIFCOCUK, ERKEK, COCUK]
19544  fae1945a-f679-11ea-a533-000d3a38a36f      213        2.0    925.69             2               2       22  hibernating  [AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]

[330 rows x 9 columns]

In [40]:
filtered_df2 = filtered_df2['master_id']
filtered_df2

151      01abd05c-b1f7-11e9-89fa-000d3a38a36f
232      02af4fd8-7362-11ea-92d0-000d3a38a36f
251      02d8ab7a-2c50-11ea-b752-000d3a38a36f
514      06090ece-afd8-11e9-9757-000d3a38a36f
619      07aaa352-a90f-11e9-a2fc-000d3a38a36f
                         ...
19365    f88cf3ea-47f4-11ea-b6c0-000d3a38a36f
19381    f8b04ba4-5bce-11ea-ba31-000d3a38a36f
19410    f91f4b9e-dd5b-11ea-9c1f-000d3a38a36f
19444    f98175f8-a85a-11e9-a2fc-000d3a38a36f
19544    fae1945a-f679-11ea-a533-000d3a38a36f
Name: master_id, Length: 330, dtype: object

In [41]:
filtered_df2 = filtered_df2.reset_index(drop=True)
filtered_df2

0      01abd05c-b1f7-11e9-89fa-000d3a38a36f
1      02af4fd8-7362-11ea-92d0-000d3a38a36f
2      02d8ab7a-2c50-11ea-b752-000d3a38a36f
3      06090ece-afd8-11e9-9757-000d3a38a36f
4      07aaa352-a90f-11e9-a2fc-000d3a38a36f
                       ...
325    f88cf3ea-47f4-11ea-b6c0-000d3a38a36f
326    f8b04ba4-5bce-11ea-ba31-000d3a38a36f
327    f91f4b9e-dd5b-11ea-9c1f-000d3a38a36f
328    f98175f8-a85a-11e9-a2fc-000d3a38a36f
329    fae1945a-f679-11ea-a533-000d3a38a36f
Name: master_id, Length: 330, dtype: object

In [42]:
filtered_df2.to_csv('contact_list2.csv')